body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.announcement {
    background-color: #f00;
    text-align: center;
    padding: 10px;
}

.announcement-text {
    color: white;
    font-weight: bold;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.video {
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video video {
    width: 100%;
    border-radius: 5px;
}

.video h2 {
    margin-top: 10px;
    font-size: 18px;
}
